.App {
  text-align: center;
}

.reportCard{
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  border: 10px solid black ;
  border-radius: 2rem;
  width: 60%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

hr{
    border: 3px solid black;
  
}

.reportCard::after{
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f6b574, #eb9b8b, #f3789b, #a166ab, #739cec, #1098ad, #82beb6, #8ae4a1);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 480px) {
  .reportCard{
    width: 100%;
    border: 5px solid black ;
  }
}